html,
body {
    height: 100%;
    font-family: 'Boogaloo' !important; 
}

header.masthead {
    background: no-repeat;
}
.site-heading {
    color:lightgray;
    margin-bottom: 100pt;    
    margin-top: 100pt;
    text-align: center;   
}
.site-heading h1{
    font-size: 60pt;
    font-family: 'Monoton', sans-serif !important;
}

.overlay {
    opacity: 0.5;
  }

footer {
  text-align: center;
}

.list-inline {
    margin: 0;
    padding: 0;
  }
#introForm {
    text-align: center;
}

.list-inline{
    padding-top: 35px;
}

@media only screen and (max-width: 450px) {
      
    .site-heading h1{
        margin-top: 0;
        font-size: 25px;
        text-align: center;
  }
}

@media only screen and (min-width: 451px) {
      
    .site-heading h1{
        margin-top: 0;
        font-size: 40px;
        text-align: center;
  }
}

@media only screen and (min-width: 760px) {
      
    .site-heading h1{
        margin-top: 0;
        font-size: 55px;
        text-align: center;
  }
}
#loader img{
    width: 50px;
}