html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #d9534f;
}
.header-wrap{
  color: white;
  background-color: #d9534f;
}
#pageTitle{
  border-bottom: none;
}